<div>	

	<h1>BATTLESHIPS BOARD</h1>

	<form action ="/single_game">
    
    <table border="1" style="width:1%">
    	<tr>
    		<th></th>
    		<th>A</th>
    		<th>B</th>
    	</tr>

    	<tr>
    		<th>1</th>
    		<td><input type="button" value="FIRE"></td>
    		<td><input type="button" value="FIRE"></td>
    	</tr>
    	<tr>
    		<th>2</th>
    		<td><input type="button" value="FIRE"></td>
    		<td><input type="button" value="FIRE"></td>
    	</tr>
		</table>

	</form>



</div>