<div>	

	<h1>BATTLESHIPS BOARD</h1>

      <table border="1" style="width:1%">
      	<tr>
      		<th></th>
      		<th>A</th>
      		<th>B</th>
      	</tr>

      	<tr>
      		<th>1</th>
      		<td><form action ="/single_game">
            <input type="hidden" name="shoot" value="0">
            <input type="submit" value="FIRE1">
          </form></td>
      		<td><form action ="/single_game">
            <input type="hidden" name="shoot" value="0">
            <input type="submit" value="FIRE2">
          </form></td>
      	</tr>
      	<tr>
      		<th>2</th>
      		<td><form action ="/single_game">
            <input type="hidden" name="shoot" value="0">
            <input type="submit" value="FIRE3">
          </form></td>
      		<td><form action ="/single_game">
            <input type="hidden" name="shoot" value="1">
            <input type="submit" value="FIRE4">
          </form></td>
      	</tr>
  		</table>

  <% if @name == "0" %>
    Missed!
  <% elsif @name == "1" %>
    Hit!  
  <% else %>
    Please press a fire....
  <% end %>

</div>
