<!DOCTYPE html>

<html>

<div>	

	<h5> <img style="height:75px; length:350px" src="/images/Battleship_Logo.jpg"/> </h5>

    <form action ="/single_game" method="post">
      Where do you want to place your first ship?
      <input type="text" name="ship">
      <input type="submit" value="place">
    </form>


    <table style="width: 50%">
      <% @keys.each_slice(10) do |slice| %>
        <tr>
          <% slice.each do |key| %>
          <td>
            <form action="/single_game" method="post">
              <input style="background:blue; color:red" type="submit" id="<%= key.to_s %>" value="<%= key.to_s %>" name="coord" style="width: 50%">
            </form>
          </td>
          <%end%>
        </tr>
      <%end%>
    </table>

    <% if @push_coord %>
      You MISSED!
    <% elsif @push_coord && @ships == true %>
      HIT!
    <% end %>
  

</div>

</html>
